.App {
  text-align: center;

}
.Home{
  font-size: 20px;
  color: bisque;
margin: 10px;
padding: 20px;
text-align: center;
  background-color: rgb(247, 4, 4);
}
.Home h1{
  margin: 5px;
  padding: 0;
}
.Home img{
  margin: 10px;
}


/* .form-container {
  text-align: left;
  padding: 1.5em;
  background-color: rgb(13, 223, 143);
} */

.input,
.submit-button {
  padding: 5px;
  font-size: 16px;
  border: 0.5px solid rgb(211, 28, 28);
}

.input {
  border-radius: 3px 0px 0px 3px;
  max-width: 190px;
}

.submit-button {
  margin-right: -5px;
  border-radius: 0px 3px 3px 0px;
}

.list-container {
  display: flex;
  flex-flow: row wrap;
}

.list-item {
  background-color: rgb(238, 123, 123);
  list-style: none;
  border: 1px solid black;
  padding: 30px;
  margin: 20px 25px;
  max-width: 210px;
  border-radius: 20px;
}

.link {
  text-decoration: none;
  color: black;
}

.url{
  margin-top: 10px;
  text-decoration: none;
  width: 50px;
  color: black;
  background-color: rgb(109, 223, 57);
  border: 1px solid black;
  border-radius: 5px ;

}

.link-container {
  text-align: center;
  padding: 5px;
  font-weight: bold;
  color: rgba(0, 0, 0);
}

.missing-img-div {
  width: 210px;
  height: 295px;
  font-style: italic;
  color: rgb(150, 144, 144);
  text-align: center;
  border: 0.5px solid rgb(219, 218, 218);
}

.no-results-search {
  padding-left: 30px;
}
